.clockContainer{
    height: 40vw;
    width: 40vw;
    margin: auto;
    position: relative;
    background-image: url('images/clock.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
}
#hourHand{
    width: 2%;
    height: 26%;
    background-color: black;
    position: absolute;
    top: 24%;
    left: 49%;
    border-radius: 14%;
    transform-origin: bottom;
    opacity: 0.8;
}
 #minuteHand{
    width: 1.6%;
    height: 35%;
    background-color: black;
    top: 15%;
    left: 49%;
    position: absolute;
    border-radius: 12%;
    transform-origin: bottom;
    opacity: 0.8;
}
#secondHand{
    width: 1.4%;
    height: 38%;
    background-color: black;
    position: absolute;
    top: 12%;
    left: 49.3%;
    border-radius: 11%;
    transform-origin: bottom;
    opacity: 0.8;
} 